<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">

<main>
  <div class="row">
    <div class="col-sm-12">

      <div class="jumbotron">
        <h1>Invalid Token</h1>
      </div>

    </div>
  </div>
</main>

<footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>
