<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">

<main>
  <div class="row">
    <div class="col-sm-12">

      <div class="jumbotron">
        <h1>Reset your password</h1>
      </div>


    </div>

    <form action="/v2/setnewpassword" class="form-group" method="POST">

      <input type="hidden" name="emailid" value="<%= emailid %>">
      <input type="hidden" name="token" value="<%= token %>">

      <div class="form-group col-sm-6">
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
          <input class="form-control" name="newpassword" type="password" placeholder="New Password">
        </div>
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
          <input class="form-control" name="confirmpassword" type="password" placeholder="Confirm Password">
        </div>
      </div>

      <input type="submit" class="form-control" value="Submit">

    </form>


  </div>
</main>

<footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>
